<!DOCTYPE html>

<html lang = "en">

<head>
	<title>
        Hong Kong Travel Guide - Restaurant
    </title>
    <link rel = "stylesheet" href = "/styles.css"/>
    <link rel = "stylesheet" href = "/restaurant-details-styles.css"/>
    <link rel = "icon" type = "image/png" href = "images/icon.svg">

    <!-- javascript -->
    <script defer type = "text/javascript" src = "../scripts/header.js"></script>
    <script defer type = "text/javascript" src = "../scripts/restaurantCards.js"></script>
</head>

<body>
    <header></header>
    <nav></nav>

    <div class = "restaurant-details">
        <img class = "restaurant-details-img" src = "<%= restaurant.photo %>">
        <div>
            <h1><%= restaurant.name %></h1>
            <h2><%= restaurant.address %></h2>
            <h2><%= restaurant.phone %></h2>
        </div>
    </div>

    <footer></footer>
</body>

</html>
